<div class="container">
<nav class="navbar sticky-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SISTEMA WEB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
           <a class="navbar-brand" href="#">Cadastrar</a>
        </li>
        <li class="nav-item">
           <a class="navbar-brand" href="#">Atualizar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<h4>Atualizar - Agendamento de Potenciais Clientes</h4>
<p>Sistema utilizado para agendamentos de serviços</p>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome:</label>
  <input type="text" class="form-control" id="name" >
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Telefone:</label>
  <input type="number" class="form-control" id="telefone" >
</div>

<div class="mb-3">
<label for="exampleFormControlInput1" class="form-label">Origem:</label>
<select class="form-select" aria-label="Default select example">
  <option selected>Origem</option>
  <option value="1">Celular</option>
  <option value="2">PC</option>
  <option value="3">Telefone</option>
</select>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Data do Contato: </label>
  <input type="date" class="form-control" id="data" >
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Observações</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>


<button class="btn btn-outline-dark me-2" type="button">Atualizar</button>
</div><br><br>